/resume-analyzer
/bin/
/dist/
*.test
*.out
coverage.out
.DS_Store
.env
.air.toml
tmp/

resume-analyzer-linux-*
/infra/.terraform
/infra/.terraform.lock.hcl
/infra/terraform.tfstate
/infra/terraform.tfstate.backup
